:root {
  /* Primary */
  --Pink: hsl(322, 100%, 66%);

  /* Neutral */
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);

  /* Google Font (Poppins 600) */
  --Google-Poppins: "Poppins", sans-serif;

  /* Google Font (Open Sans 400, 700) */
  --Google-Open-Sans: "Open Sans", sans-serif;
}

/* Feel free to remove these styles or customise in your own stylesheet 👍 */

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

body {
  font-family: var(--Google-Open-Sans);
  font-weight: 400;
  width: 100%;
  height: 100vh;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

h1,
p {
  color: var(--Very-Dark-Cyan);
}

h1 {
  width: 360px;
  line-height: 50px;
}

picture {
  position: absolute;
  z-index: -1;
}

header {
  background-image: url(images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Very-Pale-Cyan);
  margin-top: -7px;
  max-width: 100%;
  height: 51.875rem;
  padding-bottom: 60px;
}

.header__flex {
  display: flex;
  justify-content: space-around;
}

.header__info {
  margin-top: 3rem;
  max-width: 28.75rem;
}

.logo__icon {
  width: 10.625rem;
}

.logo__flex {
  display: flex;
  justify-content: space-between;
  margin: 3.125rem 5.3125rem 4rem 5.3125rem;
}

.started__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 3.125rem;
  width: 15.625rem;
  cursor: pointer;
  border: none;
  border-radius: 3.125rem;
  margin: 1.45rem 3.125rem 4.375rem 0rem;
  background-color: var(--Pink);
  color: var(--Very-Pale-Cyan);
  font-family: var(--Google-Poppins);
}

.started__btn:hover {
  background-color: hsl(322, 78%, 79%);
}

.free__btn {
  width: 8.5rem;
  height: 2.5rem;
  cursor: pointer;
  border: none;
  border-radius: 3.125rem;
  font-family: var(--Google-Poppins);
  background-color: white;
  box-shadow: 0px 0px 1.25rem 0px hsla(192, 100%, 9%, 0.192);
}

.free__btn:hover {
  color: hsl(208, 11%, 55%);
}

@media (max-width: 26.75em) {
  header {
    background-image: url(images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Very-Pale-Cyan);
    padding-bottom: 0;
  }

  picture {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  body {
    text-align: center;
  }

  h1 {
    margin-inline: 1.25rem;
    padding-left: 10px;
  }

  .started__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 3.125rem;
    width: 15.625rem;
    cursor: pointer;
    border: none;
    border-radius: 3.125rem;
    margin: 1.25rem 3.125rem 4.375rem 3.125rem;
    background-color: var(--Pink);
    color: var(--Very-Pale-Cyan);
    font-family: var(--Google-Poppins);
  }

  .header__image {
    height: 31.25rem;
    display: flex;
  }

  .logo__flex {
    margin: 3.125rem 1.25rem 0rem 1.25rem;
  }

  .hero__paragraph {
    margin-inline: 2.8125rem;
  }

  .header__flex {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .header__info {
    display: flex;
    flex-direction: column;
  }

  .img__mockup {
    height: 15.625rem;
    margin-inline: 2.5rem;
  }
}
